<h3>HTML</h3>

<ul>
  <li><%= link_to_styleguide '1.0 General Styling', styleguide_path(:html_general) %></li>
</ul>

<hr>

<h3>CSS</h3>

<ul>
  <li><%= link_to_styleguide '1.0 General Styling', styleguide_path(:css_general) %></li>
  <li><%= link_to_styleguide '2.0 Mast Logo', styleguide_path(:mast) %></li>
</ul>

<hr>

<h3>Ruby / Rails</h3>

<ul>
  <li><%= link_to_styleguide '1.0 General Styling', styleguide_path(:ruby_general) %></li>
</ul>