<h1 class='page-header'>General Editing Practices</h1>

<p>
  Which editor you use is entirely up to you, however, there are a few general
  rules you must follow. These will ensure that everyone who works on the project
  will have a consistent style when submitting content whether that is HTML, CSS
  Javascript, etc.
</p>

<p>
  Please use the power of Google to research how you can apply the following
  settings in the editor of your choice.
</p>

<h2>Indentation</h2>

<ul>
  <li>Use soft tabs versus indents. <strong>Never mix tabs and spaces.</strong></li>
  <li>Use 2 spaces per "tab".</li>
</ul>

<h2>Maximum Line Length</h2>

<p>
  Limit all lines to a maximum of <strong>80 characters</strong>.
</p>

<p>
  Doing so will allow developers to quickly see all code/text without having to
  scroll vertically. This will also allow the developer to have multiple windows
  open side-by-side without lines having to wrap.
</p>

<p>
  If the line you are working on requires more than the 80 character limit,
  you will need to refer to the specific guidelines for the language you are
  working on. Typically, you will want to maintain the same indent level as the
  line before.
</p>

<pre><code><strong>Do this:</strong>
&lt;p&gt;
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
  consequat.
&lt;/p&gt;

<strong>Not this:</strong>
&lt;p&gt;
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
consequat.
&lt;/p&gt;</code></pre>