<h2>Coleman Connection Styleguides</h2>

<p>
  Here you will find instructions on how to develop HTML, CSS and Ruby code for
  the Coleman Connection Application. Please follow these guides explicitly so
  that other developers or designers that come behind you will not be confused
  by what you are doing.
</p>

<p>
  The styleguides are broken up into 3 sections:
</p>

<dl>
  <dt>HTML</dt>
  <dd>
    Describes how HTML code should be written as well as tips on making sure
    HTML files have a consistent look.
  </dd>
  
  <dt>CSS</dt>
  <dd>
    Describes how CSS files should be written and structured. Coleman Connection
    utilizes a style of commenting called KSS which will also be explained.
  </dd>
  
  <dt>Ruby / Rails</dt>
  <dd>
    Coleman Connection is written using Ruby and Ruby on Rails. This section
    will describe how Ruby code should be written in order to achieve a
    consistent look.
  </dd>
</dl>