<h2>Mast Logo</h2>

<%= styleguide_block '2.0' do %>
  <div class='container' style="width: 100%; height: 130px; overflow: hidden">
    <div id="mast">
      <%= link_to "Site Name", '#', id: 'mast-logo' %>
    </div>
  </div>
<%- end -%>