<h1 class='page-heading'>SASS Style Guide</h1>

<p>
  Sass is an extension of CSS3, adding nested rules, variables, mixins, selector
  inheritance, and more. It’s translated to well-formatted, standard CSS using
  the command line tool or a web-framework plugin.
</p>

<p>
  Sass has two syntaxes. The new main syntax (as of Sass 3) is known as “SCSS”
  (for “Sassy CSS”), and is a superset of CSS3’s syntax. This means that every
  valid CSS3 stylesheet is valid SCSS as well. SCSS files use the extension
  <code>.scss</code>. This is the syntax that we will use on this site.
</p>

<p>
  TODO: Finish this documentation.
</p>