<div class='padded'>
  <h1>Houston Community College</h1>

  <table class='table table-bordered table-striped'>
    <tbody>
      <tr>
        <td class='attr'>HCC Student ID</td>
        <td><%= demographic_presenter.hcc_student_id %></td>
      </tr>
      <tr>
        <td class='attr'>Currently enrolled at</td>
        <td><%= demographic_presenter.current_hcc_college %></td>
      </tr>
      <tr>
        <td class='attr'>HCC Student Email</td>
        <td><%= demographic_presenter.hcc_email_address %></td>
      </tr>
    </tbody>
  </table>
</div>