<div class='collapse-group'>
  <div class='collapse-heading'>
    <%= link_to 'Personal Details', '#', class: 'collapse-toggle', data: { toggle: 'collapse', target: ".collapse-personal-details" } %>
  </div>
  <div class='collapse collapse-personal-details'>
    <div class='collapse-content'>
      <table class='table table-striped table-bordered'>
        <tbody>
          <tr>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>