<div class='padded'>
  <header>
    <h1 class='page-header'>Happiness Results by Program <small>since February 20th, 2012</small></h1>
  </header>

  <div class='row'>
		<%- Program.all.each do |program| -%>
			<%- @result = ProgramSurveyResults.new(program) -%>
			<div class='span5 card'>
	      <h3><%= program.name %></h3>
     
	      <div class='flot-container' data-series="<%= [{ label: "Great", data: @result.great_count, color: '#4da74d' }, { label: "Okay", data: @result.okay_count, color: '#edc240' }, { label: "Bad", data: @result.bad_count, color: '#cb4b4b' }, { label: "Pending", data: @result.pending_count, color: '#afd8f8' }].to_json %>"></div>
	    </div>
		<%- end -%>
  </div>
</div>