<div class='span4'>
  <div class='well well-user well-transform-container'>
    <h2>Candidates</h2>
    <p>Here you can...</p>
    <ul>
      <%= content_tag :li, link_to('view candidates', employee_candidates_path) %>
    </ul>
    <b class='well-transformer'></b>
  </div>
</div>