<div class='span4'>
  <div class='well well-reports well-transform-container'>
    <h2>Reports</h2>
    <p>You can view the following reports...</p>
    <ul>
      <%= content_tag :li, link_to('Happiness Results', employee_report_path(:happiness_results)) if current_user.is_able_to(:view_happiness_report, :all) %>
      <%= content_tag :li, link_to('Program Session Attendance', employee_report_path(:attendance)) if current_user.is_able_to(:view_attendance_report, :all) %>
    </ul>
    <b class='well-transformer'></b>
  </div>
</div>