<div class='span4'>
  <div class='well well-system-settings well-transform-container'>
    <h2>System Settings</h2>
    <p>Here you can...</p>
    <ul>
      <%= content_tag :li, link_to('manage discipline teams', employee_discipline_teams_path) if current_user.is_able_to :edit, DisciplineTeam %>
      <%= content_tag :li, link_to('manage programs', employee_programs_path) if current_user.is_able_to :edit, Program %>
    </ul>
    <b class='well-transformer'></b>
  </div>
</div>