<div class="row">
  <%= render 'employees' if current_user.is_able_to :view, Employee %>
  <%= render 'candidates' if current_user.is_able_to :view, Candidate %>
  <%= render 'program_sessions' if current_user.is_able_to :view, ProgramDate %>
</div>