<section id="comehither">
  <div class="container">
    <div>
      <div class="gotcha">
        <h2>
					<span>HCC Coleman College</span>
					<span>Your Health Care Career</span>
					<span>Starts Here</span>
				</h2>
      </div>
    </div>
  </div>
</section>

<section id='aboutus' class='info'>
	<div class='container'>
		<p>
			HCC Coleman College <em>for</em> Health Sciences offers <span class='highlight'>more than 20 health care programs</span> awarding certificates
			or two-year associate degrees. Enrolling at HCC Coleman College is a <span class='highlight'>competitive</span> 
			and <span class='highlight'>selective</span> process. The number of students <span class='highlight'>admitted</span> into each program is 
			<span class='highlight'>limited</span>, which is why it's so important that you are as prepared as you can be.
		</p>
	</div>
</section>

<div class='stats'>
	<div>
		<p class='stat one'>
			<span>5.6</span>
			<span>Million</span>
			<span>Estimated new health</span>
			<span>care jobs <em>by</em> <strong>2020</strong></span>
		</p>
	</div>

	<div>
		<p class='stat two'>
			<span>20+</span>
			<span>Number <em>of</em> health</span>
			<span>care programs offered</span>
			<span><em>at</em> HCC Coleman College</span>
		</p>
	</div>
</div>

<section id='getstarted' class='info'>
	<div class='container'>
		<p>
			Health care in this country is booming. The fact that people are living longer means
			the demand for medical care will only continue to increase. HCC Coleman College
			will prepare you for a rewarding career in programs ranging from Registered
			Nursing to Pharmacy Technician. So, what are you waiting for?
		</p>

		<p>
			<%= link_to "Get Started Today", get_started_path, class: 'btn btn-info btn-jumbo' %>
		</p>
	</div>
</section>

<section class="container need-help">
	<p>
		Not sure where to start?<br>
		<%= link_to 'Chat with us', 'http://coleman.hccs.edu/askcoleman' %>
		or <%= link_to 'use this really simple tool', '/pathway' %> to find your path.
	</p>
  
  <p class="mission-statement">
    The vision of HCC Coleman College for Health Sciences is to be the 
    preeminent health sciences community college in the Nation,<br> preparing 
    students for today's health science careers and a lifetime of learning.
  </p>
</section>
