<section id="comehither">
  <div class="container">
    <div class="row">
      <div class="span4 offset8">
        <a href="#" class="sign-in">Sign In</a>
        <p class="gotcha">
          Save More Than Your Future<br><br>
          A Career in Health Care is Waiting
        </p>
        <a href="#" class="btn btn-large btn-info register">Register Today</a>
      </div>
    </div>
  </div>
</section>

<section id="quickshots" class="container">
  <div class="row">
    <section class="span4">
      <div class="well">
        <h3>What we have to offer</h3>
        <p>
          HCC Coleman College offers more than 20 health care
          programs awarding certificates or two-year associate
          degrees. <a href="http://coleman.hccs.edu/portal/site/coleman/menuitem.cd28cc331ea36ea9759b8e10507401ca/?vgnextoid=27c2749afded9110VgnVCM100000054710acRCRD&vgnextfmt=default" target="_blank">Click here to learn more</a>.
        </p>
      </div>
    </section>
    <section class="span4">
      <div class="well">
        <h3>What is an ER meeting?</h3>
        <p>
          ER &#151; or Essential Requirement &#151; is an information
          workshop designed to give you
          the tools you need to make an informed decision about which program you
          would like to pursue at HCC Coleman College. Attending an ER
          meeting is the first step in your journey.
        </p>
      </div>
    </section>
    <section class="span4">
      <div class="well">
        <h3>Which program fits you best</h3>
        <p>
          Not quite sure which program would best fit your personality?
          Lucky for you we have a handy little tool to help point you in
          the right direction. <a href="/pathway">Click here to find your path</a>.
        </p>
      </div>
    </section>
  </div>
  
  <p class="mission-statement">
    The vision of HCC Coleman College for Health Sciences is to be the 
    preeminent health sciences community college in the Nation,<br> preparing 
    students for today's health science careers and a lifetime of learning.
  </p>
</section>