<section id="comehither">
  <div class="container">
    <div>
      <div class="gotcha">
        <h2>Welcome! A career in health care is waiting for you.</h2>
        <p>
          There a few things you should know though. Enrolling
          at <b class="highlight">HCC Coleman College</b> is a <b class="highlight">competitive</b> and <b class="highlight">selective</b>
          process. The number of students <b class='highlight'>admitted</b> into each program is <b class='highlight'>limited</b>,
          which is why it's so important that you are as prepared as you can be. The first step is just a click away.
        </p>
        <%= link_to "Get started &rarr;".html_safe, new_user_registration_path, class: 'btn btn-info btn-large' %> 
      </div>
    </div>
  </div>
</section>

<section id="signin" class='well non-rounded'>
  <div class="container">
    <p>Have you already registered? <%= link_to 'Login', new_user_session_path %> to your account.</p>
  </div>
</section>

<section id="quickshots" class="container">
  <div class="row">
    <section class="span4">
      <div class="well">
        <h3>What we have to offer</h3>
        <p>
          HCC Coleman College offers more than 20 health care
          programs awarding certificates or two-year associate
          degrees. <a href="http://coleman.hccs.edu/portal/site/coleman/menuitem.cd28cc331ea36ea9759b8e10507401ca/?vgnextoid=27c2749afded9110VgnVCM100000054710acRCRD&vgnextfmt=default" target="_blank">Click here to learn more</a>.
        </p>
      </div>
    </section>
    <section class="span4">
      <div class="well">
        <h3>Do you have questions?</h3>
        <p>
          We have answers! We know there are a lot of details involved with applying to an HCC Coleman health science program. For that reason,
          we have established a live chat service called <%= link_to 'askColeman', 'http://coleman.hccs.edu/askcoleman' %>. Feel free to start a chat today and get your
          questions answered.
        </p>
      </div>
    </section>
    <section class="span4">
      <div class="well">
        <h3>Which program fits you best</h3>
        <p>
          Not quite sure which program would best fit your personality?
          Lucky for you we have a handy little tool to help point you in
          the right direction. <a href="/pathway">Click here to find your path</a>.
        </p>
      </div>
    </section>
  </div>
  
  <p class="mission-statement">
    The vision of HCC Coleman College for Health Sciences is to be the 
    preeminent health sciences community college in the Nation,<br> preparing 
    students for today's health science careers and a lifetime of learning.
  </p>
</section>
