<section id="comehither">
  <div class="container">
    <div>
      <div class="gotcha">
        <h2>
					<span>Your</span>
					<span>Health Care Career</span>
					<span>Starts Here</span>
				</h2>
      </div>
    </div>
  </div>
</section>

<div class='stats'>
	<div>
		<p class='stat one'>
			<span>5.6</span>
			<span>Million</span>
			<span>Estimated new health</span>
			<span>care jobs <em>by</em> <strong>2020</strong></span>
		</p>
	</div>

	<div>
		<p class='stat two'>
			<span>23</span>
			<span>Number <em>of</em> health</span>
			<span>care programs we offer</span>
		</p>
	</div>
</div>

<section id='getstarted'>
	<div class='container'>
		<p>
			Health care in this country is booming. The fact that people are living longer means
			the demand for medical care will only continue to increase. HCC Coleman College
			offers over 20 different career paths in allied health fields ranging from Registered
			Nursing to Pharmacy Technician. So, what are you waiting for?
		</p>

		<p>
			<%= link_to "Get Started Today", get_started_path, class: 'btn btn-info btn-jumbo' %>
		</p>
	</div>
</section>

<section class="container need-help">
	<p>
		Not sure where to start?<br>
		<%= link_to 'Chat with us', 'http://coleman.hccs.edu/askcoleman' %>
		or <%= link_to 'use this really simple tool', '/pathway' %> to find your path.
	</p>
  
  <p class="mission-statement">
    The vision of HCC Coleman College for Health Sciences is to be the 
    preeminent health sciences community college in the Nation,<br> preparing 
    students for today's health science careers and a lifetime of learning.
  </p>
</section>
