<section class="container" style="padding-top: 90px">
  <h2>Find Your Path</h2>
	<div id='filter' class='btn-group'>
		<button class='btn btn-primary' value='all'>All</button>
		<button class='btn' value='peopleperson'>You like working with people</button>
		<button class='btn' value='tecky'>You like working with technology</button>
		<button class='btn' value='blood'>Blood and body fluids don't bother you</button>
		<button class='btn' value='lifeordeath'>You are ok with making life or death decisions</button>
		<button class='btn' value='takedirection'>You prefer to take direction</button>
		<button class='btn' value='handson'>You prefer hands-on work</button>
		<button class='btn' value='loner'>You are self motivated and able to work alone</button>
	</div>
  <hr>
  <ul id="program_offerings" class="image-grid unstyled">
    <li class="dental denatal-hygiene" data-id="1" data-type="" style='z-index: 101'>
      <p><a href="http://hcccolemancollege.org/thebook/program_pages/dental_hygiene.html" target="_blank">Dental Hygiene</a></p>
    </li>
    <li class="dental dental-assisting" data-id="2" data-type="blood takedirection peopleperson" style='z-index: 102'>
      <p><a href="http://hcccolemancollege.org/thebook/program_pages/dental_assisting.html" target="_blank">Dental Assisting</a></p>
    </li>
    <li class="health-admin pharmacy-technician" data-id="5" data-type="tecky" style='z-index: 103'>
      <p><a href="http://hcccolemancollege.org/thebook/program_pages/pharmacy_technician.html" target="_blank">Pharmacy Technician</a></p>
    </li>
    <li class="health-admin human-services-technology" data-id="6" data-type="handson peopleperson" style='z-index: 104'>
      <p><a href="http://hcccolemancollege.org/thebook/program_pages/human_service_technology.html" target="_blank">Human Services Technology</a></p>
    </li>
    <li class="health-admin health-information-technology" data-id="7" data-type="tecky" style='z-index: 105'>
      <p><a href="http://hcccolemancollege.org/thebook/program_pages/health_information_technology.html" target="_blank">Health Information Technology</a></p>
    </li>
    <li class="diagnostic biosafety" data-id="8" data-type="tecky loner" style='z-index: 106'>
      <p><a href="http://coleman.hccs.edu/portal/site/coleman/menuitem.cd28cc331ea36ea9759b8e10507401ca/?vgnextoid=3a9d3fa81da80310VgnVCM100000864710acRCRD&vgnextfmt=default" target="_blank">Biosafety</a></p>
    </li>
    <li class="diagnostic radiography" data-id="9" data-type="tecky" style='z-index: 107'>
      <p><a href="http://hcccolemancollege.org/thebook/program_pages/radiography.html" target="_blank">Radiography</a></p>
    </li>
    <li class="diagnostic nuclear-medicine-technologist" data-id="10" data-type="tecky" style='z-index: 108'>
      <p><a href="http://hcccolemancollege.org/thebook/program_pages/nuclear_medicine_technology.html" target="_blank">Nuclear Medicine Technologist</a></p>
    </li>
    <li class="diagnostic histology-technician" data-id="11" data-type="tecky loner" style='z-index: 109'>
      <p><a href="http://hcccolemancollege.org/thebook/program_pages/histology.html" target="_blank">Histology Technician</a></p>
    </li>
    <li class="diagnostic diagnostic-medical-sonography" data-id="12" data-type="tecky" style='z-index: 110'>
      <p><a href="http://hcccolemancollege.org/thebook/program_pages/diagnostic_medical_sonography.html" target="_blank">Diagnostic Medical Sonography</a></p>
    </li>
    <li class="diagnostic computed-tomography" data-id="13" data-type="tecky" style='z-index: 111'>
      <p><a href="http://hcccolemancollege.org/thebook/program_pages/computed_tomography.html" target="_blank">Computed Tomography</a></p>
    </li>
    <li class="therapeutic respiratory-therapist" data-id="15" data-type="blood lifeordeath peopleperson" style='z-index: 112'>
      <p><a href="http://hcccolemancollege.org/thebook/program_pages/respiratory_therapy.html" target="_blank">Respiratory Therapist</a></p>
    </li>
    <li class="therapeutic physical-therapy-assistant" data-id="16" data-type="handson peopleperson" style='z-index: 113'>
      <p><a href="http://hcccolemancollege.org/thebook/program_pages/physical_therapist_assistant.html" target="_blank">Physical Therapy Assistant</a></p>
    </li>
    <li class="therapeutic occupational-therapy-assistant" data-id="17" data-type="handson peopleperson" style='z-index: 114'>
      <p><a href="http://hcccolemancollege.org/thebook/program_pages/occupational_therapy_assistant.html" target="_blank">Occupational Therapy Assistant</a></p>
    </li>
    <li class="patient-care gamw" data-id="18" data-type="" style='z-index: 115'>
      <p><a href="http://hcccolemancollege.org/thebook/program_pages/medical_assistant.html" target="_blank">Grand Aide Medical Worker</a></p>
    </li>
    <li class="patient-care hcca" data-id="19" data-type="" style='z-index: 116'>
      <p><a href="http://hcccolemancollege.org/hcca/" target="_blank">Health Care Career Academy</a></p>
    </li>
    <li class="patient-care surgical-technology" data-id="20" data-type="blood takedirection peopleperson" style='z-index: 117'>
      <p><a href="http://hcccolemancollege.org/thebook/program_pages/surgical_technology.html" target="_blank">Surgical Technology</a></p>
    </li>
    <li class="patient-care medical-assistant" data-id="21" data-type="blood takedirection peopleperson" style='z-index: 118'>
      <p><a href="http://hcccolemancollege.org/thebook/program_pages/medical_assistant.html" target="_blank">Medical Assistant</a></p>
    </li>
    <li class="nursing registered-nurse" data-id="22" data-type="blood lifeordeath peopleperson" style='z-index: 119'>
      <p><a href="http://hcccolemancollege.org/thebook/program_pages/associate_degree_nursing.html" target="_blank">Registered Nurse</a></p>
    </li>
    <li class="nursing vocational-nurse" data-id="23" data-type="blood takedirection peopleperson" style='z-index: 120'>
      <p><a href="http://hcccolemancollege.org/thebook/program_pages/vocational_nursing.html" target="_blank">Vocational Nurse</a></p>
    </li>
    <li class="health-admin community-health-worker" data-id="24" data-type="handson peopleperson" style='z-index: 121'>
      <p><a href="http://hcccolemancollege.org/thebook/program_pages/human_service_technology.html" target="_blank">Community Health Worker</a></p>
    </li>
    <li class="health-admin certified-prevention-specialist" data-id="25" data-type="blood takedirection peopleperson" style='z-index: 122'>
      <p><a href="http://hcccolemancollege.org/thebook/program_pages/human_service_technology.html" target="_blank">Certified Prevention Specialist</a></p>
    </li>
    <li class="diagnostic clinical-laboratory-technician" data-id="26" data-type="blood takedirection peopleperson" style='z-index: 123'>
      <p><a href="http://hcccolemancollege.org/thebook/program_pages/medical_laboratory_technician.html" target="_blank">Medical Laboratory Technician</a></p>
    </li>
  </ul>
  <hr>
</section>