<section class="container" style="padding-top: 90px">
  <h2>Find Your Path</h2>
	<div id='filter' class='btn-group'>
		<button class='btn btn-primary' value='all'>All</button>
		<button class='btn' value='peopleperson'>You like working with people</button>
		<button class='btn' value='tecky'>You like working with technology</button>
		<button class='btn' value='blood'>Blood and body fluids don't bother you</button>
		<button class='btn' value='lifeordeath'>You are ok with making life or death decisions</button>
		<button class='btn' value='takedirection'>You prefer to take direction</button>
		<button class='btn' value='handson'>You prefer hands-on work</button>
		<button class='btn' value='loner'>You are self motivated and able to work alone</button>
	</div>
  <hr>
  <ul id="program_offerings" class="image-grid">
    <li class="denatal-hygiene" data-id="1" data-type="">
      <p><a href="http://coleman.hccs.edu/portal/site/coleman/menuitem.cd28cc331ea36ea9759b8e10507401ca/?vgnextoid=60baef11808e9110VgnVCM2000001b4710acRCRD&vgnextfmt=default" target="_blank">Dental Hygiene</a></p>
    </li>
    <li class="dental-assisting" data-id="2" data-type="blood takedirection peopleperson">
      <p><a href="http://coleman.hccs.edu/portal/site/coleman/menuitem.cd28cc331ea36ea9759b8e10507401ca/?vgnextoid=45aaef11808e9110VgnVCM2000001b4710acRCRD&vgnextfmt=default" target="_blank">Dental Assisting</a></p>
    </li>
    <li class="pharmacy-technician" data-id="5" data-type="tecky">
      <p><a href="http://coleman.hccs.edu/portal/site/coleman/menuitem.cd28cc331ea36ea9759b8e10507401ca/?vgnextoid=9c2bef11808e9110VgnVCM2000001b4710acRCRD&vgnextfmt=default" target="_blank">Pharmacy Technician</a></p>
    </li>
    <li class="human-services-technology" data-id="6" data-type="handson peopleperson">
      <p><a href="http://coleman.hccs.edu/portal/site/coleman/menuitem.cd28cc331ea36ea9759b8e10507401ca/?vgnextoid=f0daef11808e9110VgnVCM2000001b4710acRCRD&vgnextfmt=default" target="_blank">Human Services Technology</a></p>
    </li>
    <li class="health-information-technology" data-id="7" data-type="tecky">
      <p><a href="http://coleman.hccs.edu/portal/site/coleman/menuitem.cd28cc331ea36ea9759b8e10507401ca/?vgnextoid=49baef11808e9110VgnVCM2000001b4710acRCRD&vgnextfmt=default" target="_blank">Health Information Technology</a></p>
    </li>
    <li class="biosafety" data-id="8" data-type="tecky loner">
      <p><a href="http://coleman.hccs.edu/portal/site/coleman/menuitem.cd28cc331ea36ea9759b8e10507401ca/?vgnextoid=3a9d3fa81da80310VgnVCM100000864710acRCRD&vgnextfmt=default" target="_blank">Biosafety</a></p>
    </li>
    <li class="radiography" data-id="9" data-type="tecky">
      <p><a href="http://coleman.hccs.edu/portal/site/coleman/menuitem.cd28cc331ea36ea9759b8e10507401ca/?vgnextoid=638aef11808e9110VgnVCM2000001b4710acRCRD&vgnextfmt=default" target="_blank">Radiography</a></p>
    </li>
    <li class="nuclear-medicine-technologist" data-id="10" data-type="tecky">
      <p><a href="http://coleman.hccs.edu/portal/site/coleman/menuitem.cd28cc331ea36ea9759b8e10507401ca/?vgnextoid=fb0bef11808e9110VgnVCM2000001b4710acRCRD&vgnextfmt=default" target="_blank">Nuclear Medicine Technologist</a></p>
    </li>
    <li class="histology-technician" data-id="11" data-type="tecky loner">
      <p><a href="http://coleman.hccs.edu/portal/site/coleman/menuitem.cd28cc331ea36ea9759b8e10507401ca/?vgnextoid=b4caef11808e9110VgnVCM2000001b4710acRCRD&vgnextfmt=default" target="_blank">Histology Technician</a></p>
    </li>
    <li class="diagnostic-medical-sonography" data-id="12" data-type="tecky">
      <p><a href="http://coleman.hccs.edu/portal/site/coleman/menuitem.cd28cc331ea36ea9759b8e10507401ca/?vgnextoid=910bef11808e9110VgnVCM2000001b4710acRCRD&vgnextfmt=default" target="_blank">Diagnostic Medical Sonography</a></p>
    </li>
    <li class="computed-tomography" data-id="13" data-type="tecky">
      <p><a href="http://coleman.hccs.edu/portal/site/coleman/menuitem.cd28cc331ea36ea9759b8e10507401ca/?vgnextoid=2e7a93cd88ed9110VgnVCM100000054710acRCRD&vgnextfmt=default" target="_blank">Computed Tomography</a></p>
    </li>
    <li class="respiratory-therapist" data-id="15" data-type="blood lifeordeath peopleperson">
      <p><a href="http://coleman.hccs.edu/portal/site/coleman/menuitem.cd28cc331ea36ea9759b8e10507401ca/?vgnextoid=174bef11808e9110VgnVCM2000001b4710acRCRD&vgnextfmt=default" target="_blank">Respiratory Therapist</a></p>
    </li>
    <li class="physical-therapy-assistant" data-id="16" data-type="handson peopleperson">
      <p><a href="http://coleman.hccs.edu/portal/site/coleman/menuitem.cd28cc331ea36ea9759b8e10507401ca/?vgnextoid=493bef11808e9110VgnVCM2000001b4710acRCRD&vgnextfmt=default" target="_blank">Physical Therapy Assistant</a></p>
    </li>
    <li class="occupational-therapy-assistant" data-id="17" data-type="handson peopleperson">
      <p><a href="http://coleman.hccs.edu/portal/site/coleman/menuitem.cd28cc331ea36ea9759b8e10507401ca/?vgnextoid=84398ac08311a110VgnVCM100000054710acRCRD&vgnextfmt=default" target="_blank">Occupational Therapy Assistant</a></p>
    </li>
    <li class="gamw" data-id="18" data-type="">
      <p><a href="http://coleman.hccs.edu/portal/site/coleman/menuitem.cd28cc331ea36ea9759b8e10507401ca/?vgnextoid=61c6e0a428761310VgnVCM100000864710acRCRD&appInstanceName=default" target="_blank">Grand Aide Medical Worker</a></p>
    </li>
    <li class="hcca" data-id="19" data-type="">
      <p><a href="http://hcccolemancollege.org/hcca/" target="_blank">Health Care Career Academy</a></p>
    </li>
    <li class="surgical-technology" data-id="20" data-type="blood takedirection peopleperson">
      <p><a href="http://coleman.hccs.edu/portal/site/coleman/menuitem.cd28cc331ea36ea9759b8e10507401ca/?vgnextoid=f25bef11808e9110VgnVCM2000001b4710acRCRD&vgnextfmt=default" target="_blank">Surgical Technology</a></p>
    </li>
    <li class="medical-assistant" data-id="21" data-type="blood takedirection peopleperson">
      <p><a href="http://coleman.hccs.edu/portal/site/coleman/menuitem.cd28cc331ea36ea9759b8e10507401ca/?vgnextoid=56faef11808e9110VgnVCM2000001b4710acRCRD&vgnextfmt=default" target="_blank">Medical Assistant</a></p>
    </li>
    <li class="registered-nurse" data-id="22" data-type="blood lifeordeath peopleperson">
      <p><a href="http://coleman.hccs.edu/portal/site/coleman/menuitem.cd28cc331ea36ea9759b8e10507401ca/?vgnextoid=712bef11808e9110VgnVCM2000001b4710acRCRD&vgnextfmt=default" target="_blank">Registered Nurse</a></p>
    </li>
    <li class="vocational-nurse" data-id="23" data-type="blood takedirection peopleperson">
      <p><a href="http://coleman.hccs.edu/portal/site/coleman/menuitem.cd28cc331ea36ea9759b8e10507401ca/?vgnextoid=961bef11808e9110VgnVCM2000001b4710acRCRD&vgnextfmt=default" target="_blank">Vocational Nurse</a></p>
    </li>
  </ul>
  <hr>
</section>