<div class='boxed boxed-main'>
  <header>
    <h1>We appreciate your feedback!</h1>
  </header>
  
  <div class='padded'>
    <p>
      Thank you for sending us additional feedback on your experience. We will
      use it to improve the quality of our Program Sessions. We really appreciate
      you taking the time to come learn about HCC Coleman College and what we
      have to offer you.
    </p>
  </div>
</div>