<div class='row'>
  <div class='span4'>
    <div class='boxed'>
      <ul class='menu'>
        <li><%= link_to "Account Details", edit_employee_user_path(current_user, section: 'account'), class: "#{'active' if @section == 'account'}" %></li>
        <li><%= link_to "Select Programs", edit_employee_user_path(current_user, section: 'programs'), class: "#{'active' if @section == 'programs'}" %></li>
      </ul>
    </div>
    
    <%- if current_user.can?(:view, Employee.new) -%>
    <div class='boxed'>
      <ul class='menu'>
        <li><%= link_to "View user list", employee_users_path %></li>
      </ul>
    </div>
    <%- end -%>
  </div>
  
  <div class="span8">
    <section class="boxed boxed-main form-container">
      <%= render @section %>
    </section>
  </div>
</div>