development: &defaults
        devise_username: "email@example.com"
        devise_password: "somepassword"
        devise_smtp: "smtp.example.com"

test:
        <<: *defaults

production:
        <<: *defaults
