.boxed {
  background-color: $white;
  border: 1px solid $grayLight;
  margin-bottom: $gridGutterWidth;
  
  @include border-radius(2px);
  @include box-shadow(#{0 0 3px rgba(0,0,0,.25)});
  
  .padded {
    padding: 20px 20px 10px;
  }
  
  .padded-half {
    padding: 10px 10px 5px;
  }
}

.boxed-main {
  border: none;
  @include box-shadow(#{
    0 0 0 1px $grayLight,
    0 0 0 4px $grayLighter});
    
  & > header {
    border-bottom: 1px solid $grayLighter;
    padding: 10px 10px 0;
    margin-bottom: 10px;
  }
}