form header {
  border-bottom: 1px solid $grayLighter;
  padding: 10px;
  
  & .metadata {
    color: $grayLight;
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 0;
  }
}

.boxed form {
  margin: 0;
}

form fieldset {
  padding-top: $gridGutterWidth;
}

form .form-actions.boxed-in {
  margin: 0;
  @include border-radius(#{0 0 3px 3px})
}

form .help-block {
  color: $grayLight;
}

form label.required {
  color: $infoText;
}

form p {
  margin: 0 10px;
}

input.checkbox {
  margin-right: 5px;
  vertical-align: text-bottom;
}

label.control-label.checkbox {
  text-align: left;
  width: 400px;
}

.control-group.boolean {
  margin-bottom: 5px;
}

.form-permissions {
  .controls {
    margin-left: $gridGutterWidth / 2;
    
    select {
      margin-right: .15rem;
      width: 120px;
    }
    
    span {
      color: $grayLight;
    }
    
    .allowed {
      color: $green;
    }
  }
}