@import 'compass/css3/transform';

$hexagonWidth: 100px;
$hexagonHeight: ($hexagonWidth * cos(30deg)) * 2;
$hexagonMargin: (($hexagonWidth * sin(30deg)) / 2) + 2;

.image-grid {
  padding: 50px 0;
  
  li, a {
    color: #fff;
    display: block;
    text-align: center;
  }
  
  li p {
    display: inline-block;
    font-size: 1.3em;
    line-height: 1.2;
    vertical-align: middle;
  }
  
  li {
    display: inline-block;
    float: left;
    
    background-color: $grayLight;
    
    line-height: $hexagonHeight;
    
    width: $hexagonWidth;
    height: $hexagonHeight;
    margin: 2px 0;
    margin-right: $hexagonMargin;
    margin-left: $hexagonMargin;
    
    position: relative;
  }
  
  li:nth-child(even) {
    top: 43.3px;
  }
  
  li:nth-child(odd) {
    top: -44.8px;
  }
  
  li:before, li:after {
    content: '';
    display: block;
    background-color: inherit;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
  }
  
  li:before {
    z-index: -1;
    @include transform(rotate(60deg));
  }
  
  li:after {
    z-index: -2;
    @include transform(rotate(-60deg));
  }
  
  .nursing {
    background-color: #4f0b7b;
  }

  .patient-care {
    background-color: #b734bb;
  }

  .therapeutic {
    background-color: #00c473;
  }

  .diagnostic {
    background-color: #6aade4;
  }

  .health-admin {
    background-color: #ec7a08;
  }

  .dental {
    background-color: #c4262e;
  }
  
}