@import 'bootstrap/_variables';
@import 'bootstrap/_mixins';

.quiz-container {
  margin-top: $gridGutterWidth*3;
}

.gallery {
  margin: 0 auto 60px;
  padding: 0;
  
  position: relative;
  z-index: 1001;
  
  width: 940px;
  
  .gallery-view {
    position: relative;
    
    .gallery-slide {
      height: 460px;
      background: #fff url(image-path('presentation-sprite.jpg')) no-repeat left top;
      margin: 0;
      padding: 0;
      position: relative;
    }
    
    .gallery-slide:after {
      content: '';
      display: block;
      background-color: #353535;
      background-color: rgba(35, 35, 35, .9);
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 350px;
    }
    
    .gallery-slide.full .inner {
      color: #454545;
      width: 100%;
      left: 0;
      background-color: transparent;
    }
    
    .gallery-slide.full:after {
      display: none;
    }
    
    .gallery-slide.left .inner {
      left: 0;
      right: none;
    }
    
    .gallery-slide.left:after {
      left: 0;
      right: none;
    }
    
    .gallery-slide.bottom .inner {
      left: 0;
      right: 0;
      bottom: 0;
      top: 200px;
      width: 100%;
    }
    
    .gallery-slide.bottom:after {
      left: 0;
      right: 0;
      bottom: 0;
      top: 200px;
      width: 100%;
    }
    
    .slide-tmc {
      background-position: 0 0;
    }
    
    .slide-sacs {
      background-position: 0 -511px;
    }
    
    .slide-programs {
      background-position: 0 -1022px;
    }
    
    .slide-placement-tests {
      background-position: 0 -1533px;
    }
    
    .slide-computer-skills {
      background-position: 0 -2045px;
    }
    
    .slide-background-check {
      background-position: 0 -2556px;
    }
    
    .slide-financial-aid {
      background-position: 0 -3066px;
    }
    
    .slide-navigator {
      background-position: 0 -3580px;
    }
    
    .slide-cumulative-education {
      background-position: 0 -4601px;
    }
    
    .slide-professional-environment {
      background-position: 0 -4090px;
    }
    
    .slide-the-center {
      background-position: 0 -5113px;
    }
    
    .slide-certifications {
      background-position: 0 -5623px;
    }
    
    .slide-parking {
      background-position: 0 -6100px;
    }
    
    .slide-chp {
      background-position: 0 -6646px;
    }
    
    .slide-tmc-connections {
      background-position: 0 -7158px;
    }
    
    .slide-faq {
      background-position: 0 -7668px;
    }
    
    .active .inner {
      top: 0;
      opacity: 1;
      z-index: 1;
    }
    
    .inner {
      @include box-sizing(border-box);
      color: #fff;
      position: absolute;
      top: -470px;
      bottom: 0;
      right: 0;
      width: 350px;
      padding: 60px;
      
      opacity: 0;
      
      transition: all 2s;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -ms-transition: all .5s;
      -o-transition: all .5s;
    }
    
    .inner.program-listing {
      ul {
        margin-top: 60px;
        margin-bottom: 60px;
      }
      
      li {
        color: #fff;
        text-align: center;
        
        padding: 5px;
        padding-top: (128 / 2) - $baseLineHeight;
        
        @include box-sizing(border-box);
        background-color: #e5e5e5;
        display: block;
        float: left;
        margin-right: 10px;
        height: 128px;
        width: 128px;
      }
      
      li:last-of-type {
        margin: 0;
      }
      
      .program.nursing {
        background-color: #4f0b7b;
      }

      .program.patient-care {
        background-color: #b734bb;
      }

      .program.therapeutic-services {
        background-color: #00c473;
      }

      .program.diagnostic-services {
        background-color: #6aade4;
      }

      .program.health-care-admin {
        background-color: #ec7a08;
      }

      .program.dental-services {
        background-color: #c4262e;
      }
    }
    
    .gallery-quiz {
      background: $grayLighter;
      overflow: auto;
      margin: 0;
      padding: 0;
      height: auto;
      
      &:after {
        display: none;
      }
      
      .inner {
        color: #353535;
        padding: 20px 45px;
        position: relative;
        width: 100%;
      }
      
      .title {
        display: none;
      }
      
      .control-label {
        text-align: left;
        width: 250px;
      }
      
      .controls {
        margin-left: 270px;
      }
    }
  }
  
  .btn-group {
    margin: 30px auto;
  }
  
  .arrow-container {
    position: absolute;
    z-index: 999;
    top: 185px;
    
    &.next {
      right: -55px;
    }
    
    &.prev {
      left: -55px;
    }
    
    .arrow {
      background-color: rgba(0, 0, 0, 0.5);
      color: white !important;
      
      font-size: 1.4em;
      line-height: 90px;
      text-align: center;
      font-weight: bold;
      text-decoration: none !important;
      
      display: block;
      height: 90px;
      width: 90px;
      
      @include border-radius(90px)
    }   
  }
}



.hideMe {
  display: none !important;
}