.profile-owner {
  padding: 10px;
  
  .fullname {
    display: block;
  }
  
  .metadata {
    color: $grayLight;
    font-size: .9;
  }
  
  a:hover {
    text-decoration: none !important;
  }
}

.settings-menu {
  margin: 0;
  padding: 0;
  
  li {
    list-style: none;
    
    a {
      background-color: $grayLighter;
      color: $gray;
      display: block;
      padding: 8px 10px;
      border-bottom: 1px solid;
      text-decoration: none;
      position: relative;
      
      &.active:after {
        content: '.';
        background: transparent url(image_path('glyphicons-halflings.png')) no-repeat -456px -72px;
        position: absolute;
        right: 10px;
        top: 10px;
        height: 14px;
        width: 14px;
        overflow: hidden;
        text-indent: -999999px;
      }
      
      &.active, &:hover {
        background-color: white;
      }
    }
    
    &:last-child a {
      border: none;
    }
  }
}