.profile-owner {
  background-color: $successBackground;
  padding: 10px;
  
  .fullname {
    display: block;
  }
  
  a:hover {
    text-decoration: none !important;
  }
  
  p:last-child {
    margin-bottom: 0;
  }
}