<section class='quiz-container'>
  <h2>Why HCC Coleman College is the right choice</h2>
  <div class="gallery-view">
    <div class="gallery-slide slide-tmc">
      <div class='inner'>
        <h3 class='title'>The TMC</h3>
        <p>
          HCC Coleman College for Health Sciences is a member institute of the 
          Texas Medical Center.
        </p>
        <p>
          The Texas Medical Center is the largest collection of hospitals and
          medical research facilities in the world.
        </p>
      </div>
    </div>
    <div class="gallery-slide slide-sacs">
      <div class='inner'>
        <h3 class='title'>SACS/HCC Student ID</h3>
        <p>Houston Community College and HCC Coleman College are accredited by the Southern Association of Colleges and Schools or SACS.</p>
        <p>Other area schools that have SACS accreditation include University of Texas, Texas A&M and University of Houston.</p>
        <p>Students interested in applying to a HCC Coleman program must have an Houston Community College student identification number.</p>
      </div>
    </div>
    <div class="gallery-slide slide-programs full">
      <div class='inner program-listing'>
        <h3 class='title'>HCC Coleman Programs</h3>
        <p>The programs at HCC Coleman College for Health Sciences are divided into six discipline groups:</p>
        <ul class='unstyled'>
          <li class='program nursing'>Nursing</li>
          <li class='program patient-care'>Patient Care Services</li>
          <li class='program therapeutic-services'>Therapeutic Services</li>
          <li class='program diagnostic-services'>Diagnostic Services</li>
          <li class='program health-care-admin'>Health Care &amp; Administration</li>
          <li class='program dental-services'>Dental Services</li>
        </ul>
      </div>
    </div>
    <div class="gallery-slide slide-placement-tests left">
      <div class='inner'>
        <h3 class='title'>Placement Tests</h3>
        <p>Students applying to an HCC Coleman College program may be required to take a placement test to gauge their ability to successfully complete their desired program.</p>
        <p>• (A list of tests that students may or must take)</p>
      </div>
    </div>
    <div class="gallery-slide slide-computer-skills">
      <div class='inner'>
        <h3 class='title'>Computer Skills</h3>
        <p>HCC Coleman College students are expected to be proficient in using computers, word processing applications and web browsers.</p>
        <p>(Where can students go if they aren’t proficient?)</p>
      </div>
    </div>
    <div class="gallery-slide slide-background-check bottom">
      <div class='inner'>
        <h3 class='title'>Background Check</h3>
        <p>Once accepted into a program, students are required to have specific immunizations, criminal background checks and, for most programs, a social security number.</p>
        <p>If a student has a criminal record, they should contact their desired program’s certification board before applying to an HCC Coleman program.</p>
      </div>
    </div>
    <div class="gallery-slide gallery-quiz">
      <div class='inner'>
        <h1 class='title'>Review</h1>
        <%= simple_form_for :about_coleman_quiz, html: { data: { quiz_form: '', next_quiz: next_quiz_path('student_experience')}} do |f| %>
          <h2>Let's review</h2>
          
          <div class='row-fluid'>
            <div class='span6'>
              <%= f.input :tmc, label: "The Texas Medical Center is the second largest medical center in the country", 
                          item_wrapper_class: 'inline',
                          as: :radio_buttons, collection: ['True', 'False'],
                          input_html: { data: { answer: 'False' }} %>
            </div>
            <div class='span6'>
              <%= f.input :student_id, label: "You are required to have an HCC Student ID before applying for an HCC Coleman program",
                          item_wrapper_class: 'inline',
                          as: :radio_buttons, collection: ['True', 'False'],
                          input_html: { data: { answer: 'True' }} %>
            </div>
          </div>
          
          <hr>
          <div class='actions'>
            <%= f.submit 'Continue &#x2192;'.html_safe, class: 'btn btn-primary' %>
          </div>
        <%- end -%>
      </div>
    </div>
  </div>
</section>