<div class="gallery-view" id='postStudentQuiz'>
  <div class="gallery-slide">
    <div class='inner'>
      <figure></figure>
      <h1 class='title'>CHP/Ongoing Education</h1>
    </div>
  </div>
  <div class="gallery-slide">
    <div class='inner'>
      <figure></figure>
      <h1 class='title'>TMC Connections</h1>
    </div>
  </div>
  <div class="gallery-slide">
    <div class='inner'>
      <figure></figure>
      <h1 class='title'>FAQ</h1>
    </div>
  </div>
  <div class="gallery-slide">
    <div class='inner'>
      <figure></figure>
      <h1 class='title'>Quiz</h1>
    </div>
  </div>
</div>