<hr>
<div class="gallery-view" id='postStudentQuiz'>
  <div class="gallery-slide slide-chp">
    <div class='inner'>
      <figure></figure>
      <h3 class='title'>CHP/Ongoing Education</h3>
      <p>Graduation from HCC Coleman College is only the beginning of a lifetime of learning.</p>
      <p>Healthcare professionals must take classes to keep up to date on new technologies and to refresh their knowledge on basic skills.</p>
    </div>
  </div>
  <div class="gallery-slide slide-tmc-connections">
    <div class='inner'>
      <figure></figure>
      <h3 class='title'>TMC Connections</h3>
    </div>
  </div>
  <div class="gallery-slide slide-faq bottom">
    <div class='inner'>
      <figure></figure>
      <h3 class='title'>Questions?</h3>
      <p>For more information about HCC Coleman College and the admission process, please visit <a href='http://coleman.hccs.edu' target='_blank'>coleman.hccs.edu</a>.</p>
      <p>Ask Coleman allows students to chat directly with an HCC Coleman representative. Visit the <a href='http://coleman.hccs.edu/askcoleman' target='_blank'>askColeman page</a> for availability.</p>
      <p>Students can email questions to <a href='mailto:studentsfirst@hccs.edu'>studentsfirst@hccs.edu</a>. One of our representatives will respond as soon as possible.</p>
      <p>HCC Coleman is on <a href='http://twitter.com/HCC_Coleman'>Twitter</a> and <a href='www.facebook.com/hcccolemancollege' target='_blank'>Facebook</a>.</p>
    </div>
  </div>
  <div class="gallery-slide gallery-quiz">
    <div class='inner'>
      <h3 class='title'>Review</h3>
      <h3>Contgratulations!</h3>
      <p>
        You should now have a better understanding of why HCC Coleman
        College is the right choice for you. Now all you need to do is...
      </p>
      <hr>
      <div class='masthead'>
        <%= link_to "Create an Account", new_user_registration_path, class: 'btn btn-large btn-primary next-quiz been-there' %>
      </div>
    </div>
  </div>
</div>