<div class="gallery-view" id='postStudentQuiz'>
  <div class="gallery-slide slide-chp">
    <div class='inner'>
      <figure></figure>
      <h1 class='title'>CHP/Ongoing Education</h1>
    </div>
  </div>
  <div class="gallery-slide slide-tmc-connections">
    <div class='inner'>
      <figure></figure>
      <h1 class='title'>TMC Connections</h1>
    </div>
  </div>
  <div class="gallery-slide slide-faq">
    <div class='inner'>
      <figure></figure>
      <h1 class='title'>FAQ</h1>
    </div>
  </div>
  <div class="gallery-slide gallery-quiz">
    <div class='inner'>
      <h1 class='title'>Review</h1>
      <%= simple_form_for :post_student_quiz, html: { data: { quiz_form: '', next_quiz: next_quiz_path('sign_up')}} do |f| %>
        <h2>Let's review</h2>
        
        <div class='row-fluid'>
          <div class='span6'>
            <%= f.input :tmc, label: "The Texas Medical Center is the second largest medical center in the country", 
                        item_wrapper_class: 'inline',
                        as: :radio_buttons, collection: ['True', 'False'],
                        input_html: { data: { answer: 'False' }} %>
          </div>
          <div class='span6'>
            <%= f.input :student_id, label: "You are required to have an HCC Student ID before applying for an HCC Coleman program",
                        item_wrapper_class: 'inline',
                        as: :radio_buttons, collection: ['True', 'False'],
                        input_html: { data: { answer: 'True' }} %>
          </div>
        </div>
        
        <hr>
        <div class='actions'>
          <%= f.submit 'Continue &#x2192;'.html_safe %>
        </div>
      <%- end -%>
    </div>
  </div>
</div>