<div class="gallery-view" id='postStudentQuiz'>
  <div class="gallery-slide">
    <div class='inner'>
      <figure></figure>
      <h1 class='title'>Financial Aid</h1>
    </div>
  </div>
  <div class="gallery-slide">
    <div class='inner'>
      <figure></figure>
      <h1 class='title'>Navigator</h1>
    </div>
  </div>
  <div class="gallery-slide">
    <div class='inner'>
      <figure></figure>
      <h1 class='title'>Cumulative Education</h1>
    </div>
  </div>
  <div class="gallery-slide">
    <div class='inner'>
      <figure></figure>
      <h1 class='title'>Professional Environment</h1>
    </div>
  </div>
  <div class="gallery-slide">
    <div class='inner'>
      <figure></figure>
      <h1 class='title'>The Center</h1>
    </div>
  </div>
  <div class="gallery-slide">
    <div class='inner'>
      <figure></figure>
      <h1 class='title'>Certifications</h1>
    </div>
  </div>
  <div class="gallery-slide">
    <div class='inner'>
      <figure></figure>
      <h1 class='title'>Parking</h1>
    </div>
  </div>
  <div class="gallery-slide">
    <div class='inner'>
      <figure></figure>
      <h1 class='title'>Quiz</h1>
    </div>
  </div>
</div>