// Functions

@mixin border-radius( $radius ) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

@mixin background-size( $size ) {
  background-size: $size;
}
